An_o5cmHOsS1VbLdaKx_zfMdi0No5LUpL2htRxMwCjY_bophtOkM0-6yTKB2T2sa0yo1oP086sqiaCjmNEw5d_pofWyaE9LysYJagH8yXw_GZPzK2wfiQ9u4uAKrVcEIrkJiVuTn7JBumrA
.vscode
_out
save
autoencoder/dataset
autoencoder/reconstructed
autoencoder/model
data
segmentation/tao_model
environment/rewardmask
RLmodel